.footer {
	background-color: #f8c6e9;
	width: 100vw;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.location {
		color: #f8eca6;
		font-size: 14px;
		margin-bottom: 10px;
	}
	.instagram {
		cursor: pointer;
	}
}