@import '../../../../styles/variables.scss';

.input {
	height: 35px;
	margin: 0 20px;
	border: none;
	border-radius: 10px;
	color: white;
	text-align: center;
	background: rgba(201, 198, 198, 0.356);
	&:focus {
		outline: 2px solid $light-hover;
	}
	&.dark {
		color: $dark-color;
		&:focus {
			outline: 2px solid $dark-hover;
		}
	}
}