@use '../../styles/variables.scss' as c;
.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	max-width: 100%;
	width: 370px;
	min-height: 300px;
	position: relative;
	@include c.shadow;
	border-radius: 10px;
}

.image {
	position: relative;
	display: block;
	width: 90%;
	height: 250px;
	margin-top: -10px;
	border-radius: 10px;
	overflow: hidden;
}

.name, .weight {
	font-size: 20px;
	overflow:hidden;
	min-width: 70px;
	min-height: 44px;
}

.weight {
	min-width: 84px;
	color: c.$pink;
}

.item {
	&_info {
		width: 90%;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		align-items: center;
		padding: 10px 0 20px;
		background: c.$light-background;
	}
	&_about {
		width: 100%;
		min-height: 42px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&_bottom_container {
		button {
			border: 1px solid c.$pink;
			border-radius: 5px;
			padding: 10px;
			background-color: transparent;
			color: c.$pink;
			transition: all 0.1s;
			&:active {
				transform: scale(0.9);
			}
		}
	}
}

@media (max-width: c.$mobile) {
	.product {
		width: 175px;
		min-height: auto;
	}

	.name, .weight {
		font-size: c.$small-font;
		min-width: 60px;
		min-height: auto;
	}

	.image {
		height: 160px;
		width: 100%;
		margin-top: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.item {
		&_info {
			padding: 0 0 10px;
		}
		&_bottom_container {
			button {
				font-size: c.$small-font;
				padding: 5px;
			}
		}
		&_about {
			min-height: 56px;
		}
	}
}