@use '../../styles/variables.scss';
.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	max-width: 100%;
	width: 400px;
	min-height: 300px;
	position: relative;
	@include variables.shadow;
	border-radius: 10px;
}

.image {
	position: relative;
	display: block;
	width: 90%;
	height: 250px;
	margin-top: -10px;
	border-radius: 10px;
	overflow: hidden;
}

.name, .price {
	font-size: 20px;
}

.item {
	&_info {
		width: 90%;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		align-items: center;
		padding: 10px 0 20px;
		background: variables.$light-background;
	}
	&_about {
		width: 100%;
		align-items: center;
		justify-content: space-between;
		display: flex;
	}
}

@media (max-width: 760px) {
	.name, .price {
		font-size: 18px;
	}
	.price {
		font-size: 16px;
	}
	.image {
		height: 200px;
	}
}