@use '../../styles/variables.scss';
.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	max-width: 100%;
	width: 370px;
	min-height: 300px;
	position: relative;
	@include variables.shadow;
	border-radius: 10px;
}

.image {
	position: relative;
	display: block;
	width: 90%;
	height: 250px;
	margin-top: -10px;
	border-radius: 10px;
	overflow: hidden;
}

.name, .price {
	font-size: 20px;
	overflow:hidden;
	min-width: 70px;
	min-height: 44px;
}

.price {
	min-width: 84px;
}

.item {
	&_info {
		width: 90%;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		align-items: center;
		padding: 10px 0 20px;
		background: variables.$light-background;
	}
	&_about {
		width: 100%;
		min-height: 42px;
		align-items: center;
		justify-content: space-between;
		display: flex;
	}
	&_bottom_container {
		button {
			border: 1px solid variables.$pink;
			border-radius: 5px;
			padding: 10px;
			background-color: transparent;
			color: variables.$pink;
			transition: all 0.1s;
			&:active {
				transform: scale(0.9);
			}
		}
	}
}

@media (max-width: 760px) {
	.name, .price {
		font-size: 18px;
	}
	.price {
		font-size: 16px;
	}
	.image {
		height: 200px;
	}
}