.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	input {
		border: 1px solid transparent;
		border-radius: 5px;
		text-align: center;
		background: #acacac36;
		padding: 10px;
		width: 250px;
		outline: none;
	}
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}


.spacer {
	height: 10px;
}