@use '../../styles/variables.scss' as c;

.wrapper {
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	svg {
		position: absolute;
		top: 9px;
		left: calc(50% + 90px);
		fill: c.$gold;
	}
}

.input {
	height: 35px;
	width: 230px;
	margin: 0 20px 20px;
	border: none;
	border-radius: 10px;
	color: c.$light-color;
	text-align: center;
	background: c.$light-pink;
	&:focus {
		outline: 2px solid c.$gold;
	}
}

.results {
	visibility: hidden;
	width: 100%;
	max-width: 450px;
	height: 400px;
	position: absolute;
	z-index: 1;
	background-color: #ffffff;
	top: 110%;
	border-radius: 20px;
	padding: 15px;
	overflow-y: scroll;
	@include c.shadow;
	&.active {
		visibility: visible;
	}
	&:last-child {
		border-bottom: none;
	}
}
