@use '../../../styles/variables.scss';

.header {
	z-index: 2;
	width: 100%;
	min-height: 135px;
	display: flex;
	flex-direction: column;
	align-items: center;
  background: transparent;
	position: sticky;
	.logo {
		position: relative;
		border-radius: 5px;
		width: 80px;
		height: 80px;
		overflow: hidden;
		margin: 10px 0;
		&_icon {
			cursor: pointer;
		}
	}
	.links {
		display: flex;
		align-items: center;
		transition: all 0.2s;
		a {
			margin: 0 20px;
			font-size: 18px;
			min-width: 100px;
			text-align: center;
      &::after {
        content: '';
        display: block;
        border-bottom: 1px solid #3b3b3b;
        transform: scaleX(0);
        transition: all 0.2s;
      }
			&:hover::after {
				transform: scaleX(1);
			}
		}
	}
	&.header_small {
		flex-direction: row;
		justify-content: space-between;
		position: sticky;
		top: 0;
		background: linear-gradient(to bottom, #ffffff 0%, #ffffff 45%, rgba(255, 255, 255, 0.9) 90%, rgba(255, 255, 255, 0) 100%);
		.logo {
			animation-name: appear;
			animation-duration: 0.8s;
			margin: 0 0 0 20px;
		}
	}
}

.burger_btn {
	display: none;
	position: absolute;
  top: 45%;
  right: 10px;
  transform: translate(-50%, 0);
  width: 20px;
	height: 20px;
	cursor: pointer;
	i,
	&::before,
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 3px;
		background-color: variables.$dark-color;
		background-size: cover;
		margin-bottom: 1px;
		border-radius: 3px;
		transition: all 0.2s;
	}
	&_dropdown {
		position: absolute;
		top: 30px;
		right: 0;
		width: 100%;
	}
	&.active {
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: translateY(-8px) rotate(-45deg);
		}
		i {
			opacity: 0;
		}
	}
}

@media (max-width: 760px) {
	.header {
		min-height: auto;
		.logo {
			width: 60px;
			height: 60px;
		}
		.burger_btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.links {
			width: 100%;
			padding: 10px 0;
			height: 100vh;
			position: fixed;
			top: 0;
			flex-direction: column;
			transform: translateX(100%);
			background: variables.$light-background;
			a {
				margin: 5px 10px;
			}
			&.show {
				transform: translateX(0);
			}
		}
		&.header_small {
			min-height: 80px;
		}
	}
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}