$light-background: #ffffff;
$light-hover: #3F2537;
$light-color: #fff;
$dark-color: #000000;
$dark-background: #252525;
$dark-hover: rgb(214, 214, 214);
$pink: #ff7785;
$light-pink: rgb(72, 157, 138);
$gold: #e0c176;
$dark-gold: #a38b54;
$red: #de4f4f;

// FONT SIZES
$small-font: 13px;

// MEDIA
$mobile: 768px;
$tablet: 1180px;

@mixin shadow {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(69, 126, 169, 0.2);
	-moz-box-shadow: 0px 0px 20px 0px rgba(69, 126, 169, 0.2);
	box-shadow: 0px 0px 20px 0px rgba(69, 126, 169, 0.2);
}